@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* styles.css code used and modified from https://github.com/code-sketch/memory-game/blob/master/video-11/styles.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Yusei Magic', sans-serif;
    padding: 0;
    font-size: 16px;
    background-color: #a9a9a9;
}

/*------------------navbar------------------------*/
.navbar-brand {
	float: left;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 1.7rem;
	color: #fafafa;
	line-height: 30px;
	background-color: transparent;
}

.navbar {
	padding: 10px 40px;
}

.nav-link {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.nav-item-list {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-size: 1.05rem;
	text-transform: uppercase;
	background-color: transparent;
}

/*-----------------H3 title------------*/

.h3, .text {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*-----------------Modal------------*/

.modal-body {
    text-align: center;
    width: 100%;
}

/*------------------Cards------------------------*/
/*--CSS code used and modified from https://github.com/code-sketch/memory-game/blob/master/video-11/index.html--*/
.memory-game {
    height: 640px;
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
}

.row {
    text-align: center;
    margin: auto;
    display: flex;
    position: relative;
    vertical-align: center;
    width: 100%;
    padding-bottom: 3px;
    justify-content: center;
    vertical-align: center;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    }

.memory-card:active {
    transform: scale(0.95);
    transition: transform 0.2,5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    background: #808080;
    backface-visibility: hidden;
    border-radius: 15px;
    }

.front {
    transform: rotateY(180deg);
}


/* styles.css code taken from https://github.com/karzuin/MS2/blob/master/assets/css/style.css and modified*/
.board {
    height: 50px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.moves, 
.timer {
    text-align: center;
    margin: auto;
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    font-family: "Yusei Magic", sans-serif;
    font-size: 14px;
}

.reset {
    border: none;
    height: fit-content;
    margin-top: 5px;
    font-family: "Yusei Magic", sans-serif;
    font-size: 16px;
}

/*-----------------Footer------------*/
.text {
    text-align: center;
}